In [38]:
import pandas as pd

Plan on bringing in the last 6 months of 2017 (July - December) trip data csv files individually then combining them to have a csv with the mid-2017 trip data at the end

In [39]:
# Read in July 2017 trip data csv
jul_df = pd.read_csv('201707-citibike-tripdata.csv')
# Show first 5 of July 2017 df
jul_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [40]:
# Read in August 2017 trip data csv
aug_df = pd.read_csv('201708-citibike-tripdata.csv')
# Show first 5 of August 2017 df
aug_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2110,2017-08-01 00:00:00,2017-08-01 00:35:11,470,W 20 St & 8 Ave,40.743453,-74.000040,3289,W 90 St & Amsterdam Ave,40.790179,-73.972889,20954,Subscriber,1978.0,2
1,160,2017-08-01 00:00:10,2017-08-01 00:02:51,348,W Broadway & Spring St,40.724910,-74.001547,151,Cleveland Pl & Spring St,40.722104,-73.997249,15164,Subscriber,1978.0,1
2,1644,2017-08-01 00:00:17,2017-08-01 00:27:41,3165,Central Park West & W 72 St,40.775794,-73.976206,3320,Central Park West & W 100 St,40.793393,-73.963556,17540,Subscriber,1962.0,2
3,323,2017-08-01 00:00:27,2017-08-01 00:05:51,389,Broadway & Berry St,40.710446,-73.965251,3073,Division Ave & Hooper St,40.706913,-73.954417,18705,Subscriber,1990.0,1
4,109,2017-08-01 00:00:41,2017-08-01 00:02:31,3145,E 84 St & Park Ave,40.778627,-73.957721,3147,E 85 St & 3 Ave,40.778012,-73.954071,27975,Subscriber,1983.0,1

In [41]:
# Read in September 2017 trip data csv
sep_df = pd.read_csv('201709-citibike-tripdata.csv')
# Show first 5 of September 2017 df
sep_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331,Riverside Dr & W 104 St,40.801343,-73.971146,3328,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3100,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140,1 Ave & E 78 St,40.771404,-73.953517,3141,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236,St Marks Pl & 2 Ave,40.728419,-73.987140,473,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427,Lafayette St & Jersey St,40.724305,-73.996010,3431,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1

In [42]:
# Read in October 2017 trip data csv
oct_df = pd.read_csv('201710-citibike-tripdata.csv')
# Show first 5 of October 2017 df
oct_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,457,2017-10-01 00:00:00,2017-10-01 00:07:38,479,9 Ave & W 45 St,40.760193,-73.991255,478,11 Ave & W 41 St,40.760301,-73.998842,30951,Subscriber,1985.0,1
1,6462,2017-10-01 00:00:20,2017-10-01 01:48:03,279,Peck Slip & Front St,40.707873,-74.001670,307,Canal St & Rutgers St,40.714275,-73.989900,14809,Customer,NaN,0
2,761,2017-10-01 00:00:27,2017-10-01 00:13:09,504,1 Ave & E 16 St,40.732219,-73.981656,350,Clinton St & Grand St,40.715595,-73.987030,28713,Subscriber,1992.0,1
3,1193,2017-10-01 00:00:29,2017-10-01 00:20:22,3236,W 42 St & Dyer Ave,40.758985,-73.993800,3233,E 48 St & 5 Ave,40.757246,-73.978059,16008,Customer,1992.0,2
4,2772,2017-10-01 00:00:32,2017-10-01 00:46:44,2006,Central Park S & 6 Ave,40.765909,-73.976342,469,Broadway & W 53 St,40.763441,-73.982681,14556,Customer,NaN,0

In [43]:
# Read in November 2017 trip data csv
nov_df = pd.read_csv('201711-citibike-tripdata.csv')
# Show first 5 of November 2017
nov_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,297,2017-11-01 00:00:01,2017-11-01 00:04:59,418,Front St & Gold St,40.702240,-73.982578,414,Pearl St & Anchorage Pl,40.702819,-73.987658,24753,Subscriber,1986.0,1
1,269,2017-11-01 00:00:01,2017-11-01 00:04:30,3556,24 St & 41 Ave,40.752709,-73.939740,3126,44 Dr & Jackson Ave,40.747182,-73.943264,19063,Subscriber,1990.0,1
2,285,2017-11-01 00:00:04,2017-11-01 00:04:50,275,Washington Ave & Greene Ave,40.686501,-73.965633,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,29131,Subscriber,1993.0,1
3,478,2017-11-01 00:00:13,2017-11-01 00:08:11,3545,Broadway & W 122 St,40.812056,-73.961255,3316,W 104 St & Amsterdam Ave,40.798994,-73.966217,32841,Customer,NaN,0
4,574,2017-11-01 00:00:20,2017-11-01 00:09:54,458,11 Ave & W 27 St,40.751396,-74.005226,434,9 Ave & W 18 St,40.743174,-74.003664,17697,Subscriber,1975.0,2

In [44]:
# Read in December 2017 trip data csv
dec_df = pd.read_csv('201712-citibike-tripdata.csv')
# Show first 5 of December 2017
dec_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [45]:
# Create a new dataframe that uses concat to get 6 of the individual month data into mid 2017 data (July to December)
citibike_mid_2017_df = pd.concat([jul_df, aug_df, sep_df, oct_df, nov_df, dec_df])
# Show mid 2017 df
citibike_mid_2017_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2
5,545,2017-07-01 00:00:18,2017-07-01 00:09:24,361,Allen St & Hester St,40.716059,-73.991908,502,Henry St & Grand St,40.714215,-73.981346,21203,Subscriber,1954.0,2
6,1496,2017-07-01 00:00:18,2017-07-01 00:25:15,3233,E 48 St & 5 Ave,40.757246,-73.978059,546,E 30 St & Park Ave S,40.744449,-73.983035,15933,Customer,1971.0,1
7,1495,2017-07-01 00:00:19,2017-07-01 00:25:15,3233,E 48 St & 5 Ave,40.757246,-73.978059,546,E 30 St & Park Ave S,40.744449,-73.983035,18515,Customer,1964.0,2
8,593,2017-07-01 00:00:27,2017-07-01 00:10:20,3314,W 95 St & Broadway,40.793770,-73.971888,3363,E 102 St & Park Ave,40.790483,-73.950331,29135,Subscriber,1982.0,1
9,1950,2017-07-01 00:00:30,2017-07-01 00:33:00,3085,Roebling St & N 4 St,40.714690,-73.957390,468,Broadway & W 56 St,40.765265,-73.981923,17365,Subscriber,1983.0,1
10,736,2017-07-01 00:01:05,2017-07-01 00:13:22,382,University Pl & E 14 St,40.734927,-73.992005,526,E 33 St & 5 Ave,40.747659,-73.984907,20592,Subscriber,1966.0,1
11,588,2017-07-01 00:01:10,2017-07-01 00:10:59,305,E 58 St & 3 Ave,40.760958,-73.967245,519,Pershing Square North,40.751873,-73.977706,26555,Subscriber,1975.0,2
12,799,2017-07-01 00:01:19,2017-07-01 00:14:38,384,Fulton St & Washington Ave,40.683048,-73.964915,3329,Degraw St & Smith St,40.682915,-73.993182,16184,Subscriber,1960.0,1
13,404,2017-07-01 00:01:51,2017-07-01 00:08:35,502,Henry St & Grand St,40.714215,-73.981346,2009,Catherine St & Monroe St,40.711174,-73.996826,25127,Subscriber,1977.0,2
14,1045,2017-07-01 00:01:59,2017-07-01 00:19:25,491,E 24 St & Park Ave S,40.740964,-73.986022,500,Broadway & W 51 St,40.762288,-73.983362,21443,Subscriber,1972.0,1
15,589,2017-07-01 00:02:05,2017-07-01 00:11:55,252,MacDougal St & Washington Sq,40.732264,-73.998522,523,W 38 St & 8 Ave,40.754666,-73.991382,19047,Subscriber,1984.0,1
16,491,2017-07-01 00:02:06,2017-07-01 00:10:17,462,W 22 St & 10 Ave,40.746920,-74.004519,482,W 15 St & 7 Ave,40.739355,-73.999318,26666,Subscriber,1968.0,1
17,1718,2017-07-01 00:02:07,2017-07-01 00:30:46,450,W 49 St & 8 Ave,40.762272,-73.987882,473,Rivington St & Chrystie St,40.721101,-73.991925,25845,Subscriber,1988.0,1
18,773,2017-07-01 00:02:08,2017-07-01 00:15:01,441,E 52 St & 2 Ave,40.756014,-73.967416,3338,2 Ave & E 99 St,40.786259,-73.945526,27895,Subscriber,1988.0,2
19,859,2017-07-01 00:02:08,2017-07-01 00:16:27,3110,Meserole Ave & Manhattan Ave,40.727086,-73.952991,3081,Graham Ave & Grand St,40.711863,-73.944024,29350,Subscriber,1990.0,1
20,173,2017-07-01 00:02:10,2017-07-01 00:05:03,3083,Bushwick Ave & Powers St,40.712477,-73.941000,3074,Montrose Ave & Bushwick Ave,40.707678,-73.940162,25113,Subscriber,1981.0,1
21,1294,2017-07-01 00:02:13,2017-07-01 00:23:47,477,W 41 St & 8 Ave,40.756405,-73.990026,3147,E 85 St & 3 Ave,40.778012,-73.954071,14838,Subscriber,1966.0,1
22,876,2017-07-01 00:02:17,2017-07-01 00:16:54,435,W 21 St & 6 Ave,40.741740,-73.994156,266,Avenue D & E 8 St,40.723684,-73.975748,21645,Subscriber,1992.0,1
23,1835,2017-07-01 00:02:19,2017-07-01 00:32:55,3416,7 Ave & Park Pl,40.677615,-73.973243,3055,Greene Ave & Nostrand Ave,40.688334,-73.950916,21249,Customer,NaN,0
24,1327,2017-07-01 00:02:20,2017-07-01 00:24:28,402,Broadway & E 22 St,40.740343,-73.989551,514,12 Ave & W 40 St,40.760875,-74.002777,28025,Subscriber,1995.0,2
25,704,2017-07-01 00:02:33,2017-07-01 00:14:18,3255,8 Ave & W 31 St,40.750585,-73.994685,450,W 49 St & 8 Ave,40.762272,-73.987882,15139,Subscriber,1973.0,1
26,1449,2017-07-01 00:02:42,2017-07-01 00:26:52,401,Allen St & Rivington St,40.720196,-73.989978,446,W 24 St & 7 Ave,40.744876,-73.995299,28973,Subscriber,1988.0,1
27,2391,2017-07-01 00:02:44,2017-07-01 00:42:35,2008,Little West St & 1 Pl,40.705693,-74.016777,511,E 14 St & Avenue B,40.729387,-73.977724,27374,Subscriber,1952.0,1
28,983,2017-07-01 00:02:52,2017-07-01 00:19:16,501,FDR Drive & E 35 St,40.744219,-73.971212,3146,E 81 St & 3 Ave,40.775730,-73.956753,20559,Subscriber,1990.0,1
29,1323,2017-07-01 00:02:52,2017-07-01 00:24:55,355,Bayard St & Baxter St,40.716021,-73.999744,3431,E 35 St & 3 Ave,40.746524,-73.977885,26055,Subscriber,1973.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889937,1287,2017-12-31 23:40:35,2018-01-01 00:02:02,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,19064,Subscriber,1983.0,1
889938,1279,2017-12-31 23:40:35,2018-01-01 00:01:55,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,32939,Subscriber,1983.0,2
889939,482,2017-12-31 23:40:38,2017-12-31 23:48:41,379,W 31 St & 7 Ave,40.749156,-73.991600,507,E 25 St & 2 Ave,40.739126,-73.979738,16313,Subscriber,1993.0,1
889940,1303,2017-12-31 23:40:49,2018-01-01 00:02:33,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,28788,Subscriber,1987.0,1
889941,322,2017-12-31 23:41:35,2017-12-31 23:46:58,499,Broadway & W 60 St,40.769155,-73.981918,3165,Central Park West & W 72 St,40.775794,-73.976206,19080,Subscriber,1988.0,1
889942,1461,2017-12-31 23:42:45,2018-01-01 00:07:07,3135,E 75 St & 3 Ave,40.771129,-73.957723,3135,E 75 St & 3 Ave,40.771129,-73.957723,33034,Subscriber,1968.0,1
889943,257,2017-12-31 23:43:23,2017-12-31 23:47:40,349,Rivington St & Ridge St,40.718502,-73.983299,401,Allen St & Rivington St,40.720196,-73.989978,30823,Subscriber,1993.0,1
889944,347,2017-12-31 23:43:57,2017-12-31 23:49:44,3637,Fulton St & Waverly Ave,40.683239,-73.965996,120,Lexington Ave & Classon Ave,40.686768,-73.959282,25776,Subscriber,1983.0,1
889945,87,2017-12-31 23:44:23,2017-12-31 23:45:50,515,W 43 St & 10 Ave,40.760094,-73.994618,3236,W 42 St & Dyer Ave,40.758985,-73.993800,29177,Subscriber,1967.0,1
889946,177,2017-12-31 23:45:29,2017-12-31 23:48:26,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,3419,Douglass St & 4 Ave,40.679279,-73.981540,33045,Subscriber,1989.0,1
889947,225,2017-12-31 23:45:43,2017-12-31 23:49:29,3260,Mercer St & Bleecker St,40.727064,-73.996621,403,E 2 St & 2 Ave,40.725029,-73.990697,31102,Subscriber,1987.0,1
889948,531,2017-12-31 23:46:10,2017-12-31 23:55:02,423,W 54 St & 9 Ave,40.765849,-73.986905,448,W 37 St & 10 Ave,40.756604,-73.997901,19007,Subscriber,1955.0,2
889949,184,2017-12-31 23:46:15,2017-12-31 23:49:20,3431,E 35 St & 3 Ave,40.746524,-73.977885,472,E 32 St & Park Ave,40.745712,-73.981948,33182,Subscriber,1970.0,1
889950,189,2017-12-31 23:46:43,2017-12-31 23:49:52,504,1 Ave & E 16 St,40.732219,-73.981656,487,E 20 St & FDR Drive,40.733143,-73.975739,31315,Subscriber,1986.0,1
889951,313,2017-12-31 23:47:24,2017-12-31 23:52:37,513,W 56 St & 10 Ave,40.768254,-73.988639,3236,W 42 St & Dyer Ave,40.758985,-73.993800,26542,Subscriber,1984.0,1
889952,788,2017-12-31 23:47:55,2018-01-01 00:01:04,2008,Little West St & 1 Pl,40.705693,-74.016777,249,Harrison St & Hudson St,40.718710,-74.009001,30785,Subscriber,1985.0,1
889953,263,2017-12-31 23:48:35,2017-12-31 23:52:58,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3106,Driggs Ave & N Henry St,40.723250,-73.943080,31022,Subscriber,1981.0,0
889954,487,2017-12-31 23:48:39,2017-12-31 23:56:47,3077,Stagg St & Union Ave,40.708771,-73.950953,389,Broadway & Berry St,40.710446,-73.965251,25366,Subscriber,1985.0,1
889955,1323,2017-12-31 23:48:48,2018-01-01 00:10:52,236,St Marks Pl & 2 Ave,40.728419,-73.987140,430,York St & Jay St,40.701485,-73.986569,31643,Subscriber,1996.0,1
889956,952,2017-12-31 23:49:16,2018-01-01 00:05:08,455,1 Ave & E 44 St,40.750020,-73.969053,3238,E 80 St & 2 Ave,40.773914,-73.954395,31959,Subscriber,1953.0,1
889957,411,2017-12-31 23:49:34,2017-12-31 23:56:25,3288,E 88 St & 1 Ave,40.778301,-73.948813,3292,5 Ave & E 93 St,40.785785,-73.957481,26930,Subscriber,1991.0,1
889958,433,2017-12-31 23:49:36,2017-12-31 23:56:50,3288,E 88 St & 1 Ave,40.778301,-73.948813,3292,5 Ave & E 93 St,40.785785,-73.957481,31549,Subscriber,1990.0,1
889959,606,2017-12-31 23:50:04,2018-01-01 00:00:11,515,W 43 St & 10 Ave,40.760094,-73.994618,494,W 26 St & 8 Ave,40.747348,-73.997236,32812,Subscriber,1967.0,1
889960,1088,2017-12-31 23:50:08,2018-01-01 00:08:16,296,Division St & Bowery,40.714131,-73.997047,174,E 25 St & 1 Ave,40.738177,-73.977387,24875,Subscriber,1979.0,2
889961,429,2017-12-31 23:52:25,2017-12-31 23:59:34,447,8 Ave & W 52 St,40.763707,-73.985162,3172,W 74 St & Columbus Ave,40.778567,-73.977550,29712,Subscriber,1982.0,1
889962,397,2017-12-31 23:54:22,2018-01-01 00:01:00,3417,Baltic St & 5 Ave,40.679577,-73.978550,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,30841,Subscriber,1957.0,2
889963,332,2017-12-31 23:54:44,2018-01-01 00:00:16,3236,W 42 St & Dyer Ave,40.758985,-73.993800,513,W 56 St & 10 Ave,40.768254,-73.988639,30417,Subscriber,1984.0,1
889964,565,2017-12-31 23:56:07,2018-01-01 00:05:33,254,W 11 St & 6 Ave,40.735324,-73.998004,411,E 6 St & Avenue D,40.722281,-73.976687,16125,Subscriber,1991.0,1
889965,1659,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,40.773407,-73.977825,33328,Subscriber,1988.0,2
889966,1279,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,40.776321,-73.964274,31023,Subscriber,1968.0,2

In [46]:
# Create csv with July through December 2017 trip data from citibike_mid_2017_df
citibike_mid_2017_df.to_csv('citibike_mid_2017.csv', sep = ',')